*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#143642;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    gap: 10px;
}
.container .card{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0 -100px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    
}
.container .card:nth-child(2){
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

.container .card img{
    width: 400px;
    height: 400px;
    transition: 0.5s;
}
.container .card:hover img{
transform: scale(1.5);
}
